{% extends "base.html" %}
{% block meta %}{{ super() }}  <meta name="author" content="{{ AUTHOR }}">
{% endblock %}
{% block content %}
{% block content_title %}{% endblock %}
{% if articles %}
{% for article in articles[0:10] %}
<article class="index">
  <header>
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    <div class="article-info">
      {{article.description}}
    </div>
  </header>
</article>
{%     endfor %}
{% endif %}
{% include 'inc/pagination.html' %}
{% endblock content %}
