@media screen and (max-width: 480px) {
    #menu {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 10px;
    }
     #layout {
	 margin-left: 15px;
	 margin-right: 10px;
     }
}

@media screen and (min-width: 480px) {
    #menu {
	margin-top: 20px;
	margin-left: 45px;
	margin-right: 45px;
    }
    #layout {
	margin-left: 45px;
	margin-right: 45px;
    }
}

#root {
    max-width:100ch;
    background-color:white;
}

#introduction {
    font-size:110%;
    padding-top:1em;

}

table.archive {
    width:100%
}

/* remove underline from links */
a {
    text-decoration: none;
    word-wrap:break-word;
}

/* set links to pleasant blue */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2b9aef
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue';
    font-weight: 400;
}

h1 {
    color: #2b9aef;
    font-size:170%;
}

code, tt, .literal {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 1em;
    color: #a00;
    background-color: #f8f8f8;
    padding: 0.2em;
}

#main p {
    margin: 1.5em 0;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
}

#main a:hover, #sidebar a:hover, #footer a:hover {
    text-decoration:underline;
}

h1.article {
    color: #2b9aef;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* article info */
.article-info {
    font-size: 90%;
    color: #bbb;
}

.article-title {
    padding:0em;
    margin:0em;
    margin-top:1.25em;

}

.article-info div {
    margin: 0.2em 0;
}

.article-info .category a, .article-info .tags a, .article-info .lang a {
    font-size: 90%;
    line-height: 80%;
}

.article-info a,
.article-info a:link
.article-info a:visited,
.article-info a:active {
    color: #2b9aef
}

/*------------------------------
 * menu
 *------------------------------*/


.pure-menu-link {
    padding: .5em .5em;
}

.pure-menu {
    font-family: 'Helvetica Neue';
    font-size:120%;
}

.pure-menu-heading {
    color: #2b9aef;
    text-transform: lowercase;
    padding-left:0;
}


/*------------------------------
 * footer
 *------------------------------*/
#footer {
    margin: 2em;
    padding-top: 1em;
    color: #ccc;
    border-top: 1px solid #ccc;
    font-size: 85%
}
#footer a,
#footer a:link
#footer a:visited,
#footer a:active {
    color: #0052CC;
}


/*------------------------------
 * pages
 *------------------------------*/
section.contents a,
section.contents a:link
section.contents a:visited,
section.contents a:active {
    color: #0052CC;
}

.section {
    margin: 0.8em 0;
}

/* disqus comments */
#comments {
    margin-top: 3em;
    padding: 0 1em;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* code highlight */
.highlight pre {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5em;
}

.on_create {
    width: 25ch;

}
