{% if DISQUS_SITENAME %}
<section id="comments">
<!-- Disqus -->
<div id="disqus_thread"></div>
<script>
/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE
 *  SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
 *    https://disqus.com/admin/universalcode/#configuration-variables
 */
var disqus_config = function () {
  this.language = '{{ DEFAULT_LANG }}';
{% if article %}
  this.page.url = '{{ SITEURL }}/{{ article.url }}';
  this.page.identifier = '{{ article.date|strftime("%Y-%m-") ~ article.slug if DISQUS_ID_PREFIX_SLUG else article.slug }}';
{% elif page %}
  this.page.url = '{{ SITEURL }}/{{ page.url }}';
  this.page.identifier = 'page-{{ page.slug }}';
{% endif %}
};
(function() {
  var d = document, s = d.createElement('script');

   // s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
   s.src = 'https://john-mercouris-online.disqus.com/embed.js'

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
{% endif %}
